 .conteaner {
    background-color:#FBECD7;
    // width: 40%;
    // height: 100vh;
    // margin: 0 auto;
    width: 99vw;
    height: 99vh;
    .parent {
        background-color: rgb(226, 40, 40);
    }
}