.conteaner{
    background-color: aquamarine;
}
.parent {
    background-color: rgb(152, 88, 88);
    width: 70vw;
    height: 100vh;
    margin-left: 100px;
    display: flex;
    justify-content: center;
}

.first-section {
    width: 95%;
    background-color: aquamarine;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;

    .img-omlette img {
        width: 900px;
        height: 300px;
    }

    .Recipe {
        padding-left: 10px;

        h1 {
            color: rgba(0, 0, 0, 0.79);
        }

        p {
            color: gray;
        }
    }

    .time {
        width: 900px;
        height: 200px;
        background-color: rgba(233, 136, 217, 0.714);

        h3 {
            color: rgb(132, 18, 161);
        }

        ul {
            color: gray;
        }
    }
}